# L'opérateur BETWEEN
---

> Syntaxe :
> ```
> SELECT nom_colonne
> FROM nom_table
> WHERE nom_colonne BETWEEN valeur1 AND valeur2;
> ```
> <br>

In [12]:
import pandas as pd
from sqlalchemy import create_engine
from skimpy import skim

In [8]:
# Connection à la BD postgresql :
# postgresql://nom_utilisateur:mdp@localhost:numero_port/nom_projet
engine = create_engine(
    'postgresql://laurent:test22@localhost:5432/test1'
)

## Fichier des ventes

In [10]:
query="""
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM sales_fact;
"""
sales_df = pd.read_sql(sql=query, con=engine)
sales_df.head(3).transpose()

                                  0                    1                    2
VenteID                           1                    2                    3
DateVente       2021-04-10 10:48:43  2022-03-25 09:15:23  2023-03-08 05:14:21
ClientID                         73                   87                   62
EmployeID                        93                    6                   23
ProduitID                        67                   42                   26
QuantiteVendue                   11                   65                   88
MontantTotal                 549.89             19499.35              4399.12

In [13]:
# Données statistiques
skim(sales_df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 100    │ │ string      │ 5     │                                                          │
│ │ Number of columns │ 7      │ │ int64       │ 1     │                                                          │
│ └───────────────────┴────────┘ │ float64     │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━┳━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column             ┃ NA  ┃ NA %   ┃ mean    ┃ sd      ┃ p0      ┃ p25   ┃ p50   ┃ p75   ┃ p100   ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━╇━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━━┩  │
│ │ QuantiteVendue     │   0 │      0 │   48.36 │   30.17 │       1 │    22 │  50.5 │    71 │    100 │ ▇▇▃▇▃▇  │  │
│ │ MontantTotal       │   0 │      0 │    8278 │   11580 │   59.98 │  1542 │  2979 │  9249 │  48500 │ ▇▁▁  ▁  │  │
│ └────────────────────┴─────┴────────┴─────────┴─────────┴─────────┴───────┴───────┴───────┴────────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┓  │
│ ┃           ┃    ┃      ┃           ┃           ┃           ┃           ┃ chars per ┃ words per ┃ total      ┃  │
│ ┃ column    ┃ NA ┃ NA % ┃ shortest  ┃ longest   ┃ min       ┃ max       ┃ row       ┃ row       ┃ words      ┃  │
│ ┡━━━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━┩  │
│ │ VenteID   │  0 │    0 │ 1         │ 100       │ 1         │ 99        │      1.92 │         1 │        100 │  │
│ │ DateVente │  0 │    0 │ 2021-04-1 │ 2021-04-1 │ 2020-01-0 │ 2023-12-2 │        19 │         2 │        200 │  │
│ │           │    │      │ 0         │ 0         │ 8         │ 7         │           │           │            │  │
│ │           │    │      │ 10:48:43  │ 10:48:43  │ 12:43:33  │ 15:39:42  │           │           │            │  │
│ │ ClientID  │  0 │    0 │ 4         │ 73        │ 1         │ 99        │      1.89 │         1 │        100 │  │
│ │ EmployeID │  0 │    0 │ 6         │ 100       │ 10        │ 99        │      1.94 │         1 │        100 │  │
│ │ ProduitID │  0 │    0 │ 6         │ 67        │ 10        │ 98        │      1.95 │         1 │        100 │  │
│ └───────────┴────┴──────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Requêtes SQL

Ventes réalisées au 1er trimestre 2021

In [22]:
query = """
-- Colonnes récupérées
SELECT
    "DateVente" AS "Date"
    , "VenteID" AS "N° de vente"
    , "QuantiteVendue" AS "Quantite"
    , "MontantTotal" AS "Montant"
-- BD récupérée
FROM sales_fact
-- Conditions
WHERE "DateVente" BETWEEN '2021-01-01' AND '2021-03-31';
"""

sales20211_df = pd.read_sql(sql=query, con=engine)
sales20211_df.head(3)

                  Date N° de vente  Quantite   Montant
0  2021-02-10 15:22:24          11        52  18199.48
1  2021-02-10 02:38:13          23        26   1039.74
2  2021-03-22 16:09:04          32        26   1299.74

In [ ]:
# Changement du type object du champ Date en type DateY')
sales20211_df['Date'] = pd.to_datetime(
    sales20211_df['Date'], 
    format='%Y-%m-%d %H:%M:%S').dt.strftime('%d/%m/%Y')

In [24]:
sales20211_df.head(3)

         Date N° de vente  Quantite   Montant
0  10/02/2021          11        52  18199.48
1  10/02/2021          23        26   1039.74
2  22/03/2021          32        26   1299.74