# L'opérateur LIKE
---

> Syntaxe :
> ```
> SELECT nom_colonne
> FROM nom_table
> WHERE nom_colonne LIKE 'motif'
> ```
> <br>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from skimpy import skim

In [2]:
engine = create_engine(
    'postgresql://laurent:test22@localhost:5432/test1')

## Fichier des clients

In [3]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim;
"""
customers_df = pd.read_sql(sql=query, con=engine)

In [ ]:
customers_df

In [4]:
skim(customers_df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 100    │ │ string      │ 6     │                                                          │
│ │ Number of columns │ 6      │ └─────────────┴───────┘                                                          │
│ └───────────────────┴────────┘                                                                                  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┓  │
│ ┃           ┃    ┃      ┃           ┃           ┃           ┃           ┃ chars per ┃ words per ┃ total      ┃  │
│ ┃ column    ┃ NA ┃ NA % ┃ shortest  ┃ longest   ┃ min       ┃ max       ┃ row       ┃ row       ┃ words      ┃  │
│ ┡━━━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━┩  │
│ │ ClientID  │  0 │    0 │ 1         │ 100       │ 1         │ 99        │      1.92 │         1 │        100 │  │
│ │ Nom       │  0 │    0 │ Pham      │ Cunningha │ Abbott    │ Wilson    │      6.37 │         1 │        100 │  │
│ │           │    │      │           │ m         │           │           │           │           │            │  │
│ │ Prenom    │  0 │    0 │ Zoe       │ Christoph │ Aaron     │ Zoe       │      6.14 │         1 │        100 │  │
│ │           │    │      │           │ er        │           │           │           │           │            │  │
│ │ Adresse   │  0 │    0 │ USS Lee,  │ 925       │ 00041     │ Unit 6947 │      43.5 │       7.3 │        732 │  │
│ │           │    │      │ FPO AP    │ Robertson │ Green     │ Box 2102, │           │           │            │  │
│ │           │    │      │ 23687     │ Springs   │ Street,   │ DPO AP    │           │           │            │  │
│ │           │    │      │           │ Suite     │ Stephenbo │ 84355     │           │           │            │  │
│ │           │    │      │           │ 489, Port │ rough, UT │           │           │           │            │  │
│ │           │    │      │           │ Jeffreybe │ 34030     │           │           │           │            │  │
│ │           │    │      │           │ rg, IN    │           │           │           │           │            │  │
│ │           │    │      │           │ 43983     │           │           │           │           │            │  │
│ │ Email     │  0 │    0 │ snow.zoe@ │ richardso │ abbott.kr │ wilson.vi │      23.5 │         1 │        100 │  │
│ │           │    │      │ gmail.com │ n.cheyenn │ isten@gma │ ncent@gma │           │           │            │  │
│ │           │    │      │           │ e@gmail.c │ il.com    │ il.com    │           │           │            │  │
│ │           │    │      │           │ om        │           │           │           │           │            │  │
│ │ NumeroTel │  0 │    0 │ 1375633   │ 425163679 │ 117405460 │ 994074144 │      8.86 │         1 │        100 │  │
│ │ ephone    │    │      │           │           │           │           │           │           │            │  │
│ └───────────┴────┴──────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Requêtes SQL

Ensemble des clients dont le nom commence par la lettre 'C'

In [6]:
query = """
-- Colonnes récupérées
SELECT
    "Nom"
    , "Prenom"
-- BD récupérée
FROM customers_dim
WHERE "Nom" LIKE 'C%%';
"""
pd.read_sql(sql=query, con=engine)

          Nom     Prenom
0     Collins  Alexander
1    Carrillo    Brianna
2  Cunningham    Anthony
3     Cordova   Brittany
4     Coleman     Dennis
5    Castillo    Timothy
6      Cooper      David
7    Crawford    Krystal
8    Campbell     Jordan

Ensemble des clients dont le nom commence par la lettre 'C' et qui finit par la lettre 'O'

In [7]:
query = """
-- Colonnes récupérées
SELECT
    "Nom"
    , "Prenom"
-- BD récupérée
FROM customers_dim
WHERE "Nom" LIKE 'C%%%%o';
"""
pd.read_sql(sql=query, con=engine)

        Nom   Prenom
0  Carrillo  Brianna
1  Castillo  Timothy

Ensemble des clients dont le nom commence par la lettre 'C' et que le prénom se finit par 'Y'

In [8]:
query = """
-- Colonnes récupérées
SELECT
    "Nom"
    , "Prenom"
-- BD récupérée
FROM customers_dim
WHERE "Nom" LIKE 'C%%' AND "Prenom" LIKE '%%y';
"""
pd.read_sql(sql=query, con=engine)

          Nom    Prenom
0  Cunningham   Anthony
1     Cordova  Brittany
2    Castillo   Timothy

Donner les noms des clients qui contiennent la lettre 'N'

In [9]:
query = """
-- Colonnes récupérées
SELECT
    "Nom"
    , "Prenom"
-- BD récupérée
FROM customers_dim
WHERE "Nom" LIKE '%%y%%';
"""
pd.read_sql(sql=query, con=engine)

       Nom     Prenom
0   Sylvia     Nicole
1    Kelly  Nathaniel
2    Perry   Jennifer
3    Floyd       Mark
4   Murray     Ashley
5    Kirby  Stephanie
6    Henry    Kenneth
7  Kennedy      Julie
8   Harvey    Michael

Donner les prénoms de clients qui contiennent les lettres 'ATH'

In [10]:
query = """
-- Colonnes récupérées
SELECT
    "Nom"
    , "Prenom"
-- BD récupérée
FROM customers_dim
WHERE "Prenom" LIKE '%%ath%%';
"""
pd.read_sql(sql=query, con=engine)

        Nom     Prenom
0     Kelly  Nathaniel
1  Thompson  Katherine

Donner la liste des clients dont le nom contient une seule fois la lettre A

In [11]:
query = """
-- Colonnes récupérées
SELECT
    "Nom"
    , "Prenom"
-- BD récupérée
FROM customers_dim
WHERE "Nom" LIKE '%%a%%' AND "Nom" NOT LIKE '%%a%%a%%';
"""
pd.read_sql(sql=query, con=engine)

           Nom     Prenom
0         Pham   Benjamin
1       Kramer      Joyce
2       Sylvia     Nicole
3      Stewart  Christina
4     Carrillo    Brianna
5   Cunningham    Anthony
6      Cordova   Brittany
7       Harris    Charles
8       Barber     Lauren
9      Hoffman       Rose
10   Velasquez     Lauren
11        Diaz      Sandy
12      Mccall    Michael
13       Davis     Cheryl
14   Velazquez      Faith
15        Shaw       Tara
16      Garner     Rhonda
17     Coleman     Dennis
18   Velazquez      Amber
19  Richardson   Cheyenne
20  Strickland      Tyler
21   Patterson       Paul
22        Luna      David
23    Williams   Angelica
24    Castillo    Timothy
25        Lane   Reginald
26     Mendoza      Misty
27    Williams    Yesenia
28      Murray     Ashley
29       Davis       Drew
30        Hall    Jessica
31     Freeman   Danielle
32      Martin      Wayne
33     Sanders      Tracy
34    Lawrence        Dr.
35    Mcdaniel    Randall
36      Harris     Calvin
37      Jordan       Lynn
38      Rivera    Deborah
39     Vazquez    Melissa
40      Medina   Kimberly
41    Crawford    Krystal
42      Harvey    Michael
43    Campbell     Jordan

Contient deux occurrences de la lettre A

In [13]:
query = """
-- Colonnes récupérées
SELECT
    "Nom"
    , "Prenom"
-- BD récupérée
FROM customers_dim
WHERE "Nom" LIKE '%%a%%a%%';
"""
pd.read_sql(sql=query, con=engine)

       Nom  Prenom
0  Ballard  Andrea