# L'opérateur REGEX
---

> Syntaxe :
> ```
> SELECT nom_colonne
> FROM nom_table
> WHERE nom_colonne REGEXP 'pattern';
> ```
> <br>

In [2]:
import pandas as pd
from skimpy import skim
from sqlalchemy import create_engine

In [ ]:
# Connection à postgresql
engine = create_engine(
    'postgresql://laurent:test22@localhost:5432/test1')

## Fichier des produits

In [ ]:
# Récupération des données de la table products_dim
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM products_dim;
"""
products_df = pd.read_sql(sql=query, con=engine)

In [6]:
products_df.head().transpose()

,0,1,2,3,4
ProduitID,1,2,3,4,5
NomProduit,Samsung Galaxy S21,Samsung TV 55',Nike Air Max,Levi's Jeans,Dyson Vacuum
Description,"Featuring a 6.2-inch dynamic AMOLED display, t...","55-inch 4K UHD Smart TV with HDR, Crystal Disp...","Running shoes with Max Air cushioning, mesh up...","Classic denim jeans with a straight leg fit, f...",Cordless vacuum cleaner with strong suction po...
PrixUnitaire,699,129,85,299,999
FournisseurID,4,51,93,8,58

In [7]:
skim(products_df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 100    │ │ string      │ 4     │                                                          │
│ │ Number of columns │ 5      │ │ int64       │ 1     │                                                          │
│ └───────────────────┴────────┘ └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column             ┃ NA   ┃ NA %    ┃ mean     ┃ sd       ┃ p0   ┃ p25   ┃ p50   ┃ p75   ┃ p100  ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━━┩  │
│ │ PrixUnitaire       │    0 │       0 │    486.7 │    326.6 │   59 │   129 │   399 │   699 │   999 │ ▇▃▂ ▇▃  │  │
│ └────────────────────┴──────┴─────────┴──────────┴──────────┴──────┴───────┴───────┴───────┴───────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┓  │
│ ┃           ┃    ┃      ┃           ┃           ┃           ┃           ┃ chars per ┃ words per ┃ total      ┃  │
│ ┃ column    ┃ NA ┃ NA % ┃ shortest  ┃ longest   ┃ min       ┃ max       ┃ row       ┃ row       ┃ words      ┃  │
│ ┡━━━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━┩  │
│ │ ProduitID │  0 │    0 │ 1         │ 100       │ 1         │ 99        │      1.92 │         1 │        100 │  │
│ │ NomProdui │  0 │    0 │ iPhone 12 │ Ralph     │ Dell XPS  │ iPhone 12 │      13.6 │       2.7 │        266 │  │
│ │ t         │    │      │           │ Lauren    │ 13        │           │           │           │            │  │
│ │           │    │      │           │ Polo      │           │           │           │           │            │  │
│ │           │    │      │           │ Shirt     │           │           │           │           │            │  │
│ │ Descripti │  0 │    0 │ A         │ Cordless  │ 13.4-inch │ Stand     │      87.3 │        14 │       1371 │  │
│ │ on        │    │      │ 6.1-inch  │ vacuum    │ FHD+      │ mixer     │           │           │            │  │
│ │           │    │      │ smartphon │ cleaner   │ laptop    │ with      │           │           │            │  │
│ │           │    │      │ e with    │ with      │ with 10th │ 10-speed  │           │           │            │  │
│ │           │    │      │ A14       │ strong    │ Gen Intel │ settings, │           │           │            │  │
│ │           │    │      │ Bionic    │ suction   │ Core      │ a         │           │           │            │  │
│ │           │    │      │ chip,     │ power,    │ processor │ tilt-head │           │           │            │  │
│ │           │    │      │ dual-came │ multiple  │ s and a   │ design,   │           │           │            │  │
│ │           │    │      │ ra        │ attachmen │ stunning  │ and comes │           │           │            │  │
│ │           │    │      │ system,   │ ts, and   │ HDR 400   │ with      │           │           │            │  │
│ │           │    │      │ and 5G    │ up to 60  │ display.  │ multiple  │           │           │            │  │
│ │           │    │      │ speed.    │ minutes   │           │ attachmen │           │           │            │  │
│ │           │    │      │           │ of run    │           │ ts.       │           │           │            │  │
│ │           │    │      │           │ time.     │           │           │           │           │            │  │
│ │ Fournisse │  0 │    0 │ 4         │ 100       │ 1         │ 98        │      1.92 │         1 │        100 │  │
│ │ urID      │    │      │           │           │           │           │           │           │            │  │
│ └───────────┴────┴──────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Fichier des clients

In [8]:
# Récupération des données de la table products_dim
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim;
"""
customers_df = pd.read_sql(sql=query, con=engine)

In [9]:
customers_df.head().transpose()

,0,1,2,3,4
ClientID,1,2,3,4,5
Nom,Thompson,Pham,Rodriguez,Perez,Kramer
Prenom,Shannon,Benjamin,Bonnie,Stephanie,Joyce
Adresse,"384 Howard Parks, New Tony, DE 67522","15250 Anita Pine Apt. 887, New Kristenport, AR...","515 Henderson Coves Apt. 298, Lewismouth, OR 1...","619 Juan Parkways Suite 983, Tracibury, NM 13549","85731 Danny Groves Suite 513, Lake Michaelvill..."
Email,thompson.shannon@gmail.com,pham.benjamin@gmail.com,rodriguez.bonnie@gmail.com,perez.stephanie@gmail.com,kramer.joyce@gmail.com
NumeroTelephone,425163679,544573781,956054323,37851314,705010731

In [10]:
skim(customers_df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ Dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 100    │ │ string      │ 6     │                                                          │
│ │ Number of columns │ 6      │ └─────────────┴───────┘                                                          │
│ └───────────────────┴────────┘                                                                                  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━┳━━━━┳━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━┓  │
│ ┃           ┃    ┃      ┃           ┃           ┃           ┃           ┃ chars per ┃ words per ┃ total      ┃  │
│ ┃ column    ┃ NA ┃ NA % ┃ shortest  ┃ longest   ┃ min       ┃ max       ┃ row       ┃ row       ┃ words      ┃  │
│ ┡━━━━━━━━━━━╇━━━━╇━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━┩  │
│ │ ClientID  │  0 │    0 │ 1         │ 100       │ 1         │ 99        │      1.92 │         1 │        100 │  │
│ │ Nom       │  0 │    0 │ Pham      │ Cunningha │ Abbott    │ Wilson    │      6.37 │         1 │        100 │  │
│ │           │    │      │           │ m         │           │           │           │           │            │  │
│ │ Prenom    │  0 │    0 │ Zoe       │ Christoph │ Aaron     │ Zoe       │      6.14 │         1 │        100 │  │
│ │           │    │      │           │ er        │           │           │           │           │            │  │
│ │ Adresse   │  0 │    0 │ USS Lee,  │ 925       │ 00041     │ Unit 6947 │      43.5 │       7.3 │        732 │  │
│ │           │    │      │ FPO AP    │ Robertson │ Green     │ Box 2102, │           │           │            │  │
│ │           │    │      │ 23687     │ Springs   │ Street,   │ DPO AP    │           │           │            │  │
│ │           │    │      │           │ Suite     │ Stephenbo │ 84355     │           │           │            │  │
│ │           │    │      │           │ 489, Port │ rough, UT │           │           │           │            │  │
│ │           │    │      │           │ Jeffreybe │ 34030     │           │           │           │            │  │
│ │           │    │      │           │ rg, IN    │           │           │           │           │            │  │
│ │           │    │      │           │ 43983     │           │           │           │           │            │  │
│ │ Email     │  0 │    0 │ snow.zoe@ │ richardso │ abbott.kr │ wilson.vi │      23.5 │         1 │        100 │  │
│ │           │    │      │ gmail.com │ n.cheyenn │ isten@gma │ ncent@gma │           │           │            │  │
│ │           │    │      │           │ e@gmail.c │ il.com    │ il.com    │           │           │            │  │
│ │           │    │      │           │ om        │           │           │           │           │            │  │
│ │ NumeroTel │  0 │    0 │ 1375633   │ 425163679 │ 117405460 │ 994074144 │      8.86 │         1 │        100 │  │
│ │ ephone    │    │      │           │           │           │           │           │           │            │  │
│ └───────────┴────┴──────┴───────────┴───────────┴───────────┴───────────┴───────────┴───────────┴────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

## Requêtes SQL

Liste des produits qui contiennent 'TV' avec LIKE

Liste des produits qui contiennent 'TV' avec REGEXP

In [14]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM products_dim
-- Condition
WHERE "NomProduit" ~ 'TV';
"""
pd.read_sql(sql=query, con=engine).head().transpose()

,0,1,2,3,4
ProduitID,2,7,12,16,29
NomProduit,Samsung TV 55',Samsung TV 55',Samsung TV 55',Samsung TV 55',Samsung TV 55'
Description,"55-inch 4K UHD Smart TV with HDR, Crystal Disp...","55-inch 4K UHD Smart TV with HDR, Crystal Disp...","55-inch 4K UHD Smart TV with HDR, Crystal Disp...","55-inch 4K UHD Smart TV with HDR, Crystal Disp...","55-inch 4K UHD Smart TV with HDR, Crystal Disp..."
PrixUnitaire,129,85,799,699,399
FournisseurID,51,72,4,50,80

Liste des produits dont le nom commence par la lettre D avec LIKE

Liste des produits dont le nom commence par la lettre D avec REGEXP

In [18]:
query = """
-- Colonnes récupérées
SELECT * 
-- BD récupérée
FROM products_dim
-- Condition
WHERE "NomProduit" ~ '^D';
"""

pd.read_sql(sql=query, con=engine).head().transpose()

,0,1,2,3,4
ProduitID,5,6,10,11,14
NomProduit,Dyson Vacuum,Dell XPS 13,Dyson Vacuum,Dyson Vacuum,Dyson Vacuum
Description,Cordless vacuum cleaner with strong suction po...,13.4-inch FHD+ laptop with 10th Gen Intel Core...,Cordless vacuum cleaner with strong suction po...,Cordless vacuum cleaner with strong suction po...,Cordless vacuum cleaner with strong suction po...
PrixUnitaire,999,299,699,999,799
FournisseurID,58,28,47,39,82

Liste des produits qui se termine par la lettre M avec LIKE

Liste des produits qui se termine par la lettre M avec REGEXP

In [20]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM products_dim
-- Condition
WHERE "NomProduit" ~ 'm$';
"""

pd.read_sql(sql=query, con=engine).head().transpose()

,0,1,2,3,4
ProduitID,5,10,11,14,19
NomProduit,Dyson Vacuum,Dyson Vacuum,Dyson Vacuum,Dyson Vacuum,Dyson Vacuum
Description,Cordless vacuum cleaner with strong suction po...,Cordless vacuum cleaner with strong suction po...,Cordless vacuum cleaner with strong suction po...,Cordless vacuum cleaner with strong suction po...,Cordless vacuum cleaner with strong suction po...
PrixUnitaire,999,699,999,799,59
FournisseurID,58,47,39,82,13

Liste des clients dont le numéro du téléphone commence par '4' ou '5' avec LIKE

Liste des clients dont le numéro de téléphone commence par '4' ou '5' avec REGEXP

In [28]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim
-- Condition
WHERE "NumeroTelephone" ~ '^4|^5';
"""
pd.read_sql(sql=query, con=engine).head().transpose()

,0,1,2,3,4
ClientID,1,2,6,7,12
Nom,Thompson,Pham,Scott,Rodriguez,Smith
Prenom,Shannon,Benjamin,Jacob,Megan,Jeremy
Adresse,"384 Howard Parks, New Tony, DE 67522","15250 Anita Pine Apt. 887, New Kristenport, AR...","474 Rogers Fork Apt. 821, Chelseabury, MO 72167","12744 Daniel Tunnel, Millerside, HI 91891","USCGC Taylor, FPO AE 79668"
Email,thompson.shannon@gmail.com,pham.benjamin@gmail.com,scott.jacob@gmail.com,rodriguez.megan@gmail.com,smith.jeremy@gmail.com
NumeroTelephone,425163679,544573781,461756294,55426480,458994501

Donner la liste des clients dont le numéro de téléphone commence par 5 ou se termine par 94 avec LIKE

Donner la liste des clients dont le numéro de téléphone commence par 5 ou se termine par 94 avec REGEXP

In [31]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim
-- Condition
WHERE "NumeroTelephone" ~ '^5|94$';
"""
pd.read_sql(sql=query, con=engine).head().transpose()

,0,1,2,3,4
ClientID,2,6,7,27,29
Nom,Pham,Scott,Rodriguez,Brown,Jimenez
Prenom,Benjamin,Jacob,Megan,Danielle,Susan
Adresse,"15250 Anita Pine Apt. 887, New Kristenport, AR...","474 Rogers Fork Apt. 821, Chelseabury, MO 72167","12744 Daniel Tunnel, Millerside, HI 91891","732 Joshua Ways, Jamesfort, OH 72222","8140 Susan Port Suite 208, West Christopher, N..."
Email,pham.benjamin@gmail.com,scott.jacob@gmail.com,rodriguez.megan@gmail.com,brown.danielle@gmail.com,jimenez.susan@gmail.com
NumeroTelephone,544573781,461756294,55426480,590619668,578759133

Donner la liste des clients dont le nom contient la lettre 'R' 
suivi de n'importe quelle autre lettre et suivi de la lettre 'C'  avec LIKE

Donner la liste des clients dont le nom contient la lettre 'R' 
suivi de n'importe quelle autre lettre et suivi de la lettre 'C'  avec REGEXP

In [33]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim
-- Condition
WHERE "Nom" ~ '^R.c';
"""
pd.read_sql(sql=query, con=engine).head().transpose()

                                                             0
ClientID                                                    46
Nom                                                 Richardson
Prenom                                                Cheyenne
Adresse          70396 George Trafficway, New Laurie, KS 05583
Email                            richardson.cheyenne@gmail.com
NumeroTelephone                                      639669352

Liste des clients dont le nom commence par 'R' et se termine par 'A' avec LIKE

Liste des clients dont le nom commence par 'R' et se termine par 'A' avec REGEXP

In [37]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim
-- Condition
WHERE "Nom" ~ '^R.*a$';
"""
pd.read_sql(sql=query, con=engine).head().transpose()

                                                           0
ClientID                                                  85
Nom                                                   Rivera
Prenom                                               Deborah
Adresse          390 Danielle Valley, Martinezberg, SD 64539
Email                               rivera.deborah@gmail.com
NumeroTelephone                                    168181172

Liste des clients dont le nom contient 'it' ou 'ie' ou 'il' ou 'is' avec REGEXP

In [39]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim
-- Condition
WHERE "Nom" ~ 'i[tels]';
"""
pd.read_sql(sql=query, con=engine).head().transpose()

,0,1,2,3,4
ClientID,10,12,15,17,20
Nom,Wilkins,Smith,Smith,Carrillo,Smith
Prenom,Patricia,Jeremy,Cynthia,Brianna,Justin
Adresse,"400 Tate Glen, Port Kristenfurt, OH 07250","USCGC Taylor, FPO AE 79668","382 Daniel Groves Suite 995, East Sherryfurt, ...","543 Austin Rest Apt. 109, East Amystad, FL 57767","603 Daniel Lakes Apt. 472, New Sandra, CT 81632"
Email,wilkins.patricia@gmail.com,smith.jeremy@gmail.com,smith.cynthia@gmail.com,carrillo.brianna@gmail.com,smith.justin@gmail.com
NumeroTelephone,888856897,458994501,219759485,670055675,843655697

Liste des clients dont le nom contient la lettre 'i' suivi d'une lettre comprise entre 'f' et 't' avec REGEXP

In [40]:
query = """
-- Colonnes récupérées
SELECT *
-- BD récupérée
FROM customers_dim
-- Condition
WHERE "Nom" ~ 'i[f-t]';
"""
pd.read_sql(sql=query, con=engine).head().transpose()

,0,1,2,3,4
ClientID,3,7,8,10,12
Nom,Rodriguez,Rodriguez,Collins,Wilkins,Smith
Prenom,Bonnie,Megan,Alexander,Patricia,Jeremy
Adresse,"515 Henderson Coves Apt. 298, Lewismouth, OR 1...","12744 Daniel Tunnel, Millerside, HI 91891","231 Eric Spring, Paulahaven, SD 79669","400 Tate Glen, Port Kristenfurt, OH 07250","USCGC Taylor, FPO AE 79668"
Email,rodriguez.bonnie@gmail.com,rodriguez.megan@gmail.com,collins.alexander@gmail.com,wilkins.patricia@gmail.com,smith.jeremy@gmail.com
NumeroTelephone,956054323,55426480,878299289,888856897,458994501